body {
    background-color: red; /* Set the background color of the entire page to red */
    color: #333333;
}

p, span, div {
    color: #0d089a;
}

a {
    color: #00530f;
}

h1, h2, h3, h4, h5, h6 {
    color: #2B2D42;
}

nav {
    background-color: #3edede;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #2B2D42;
}

nav a:hover {
    background-color: #371069;
}

.skills-container {
    display: flex;
    flex-wrap: wrap; /* Allows skill boxes to wrap to the next line if necessary */
    gap: 10px; /* Adds space between boxes */
    padding: 20px; /* Adds padding around the skill boxes */
}

.skill-box {
    background-color: #000; /* Black background for skill boxes */
    color: #fff; /* White text for contrast */
    padding: 20px; /* Adds space inside the boxes */
    border: 2px solid #00530f; /* Dark green border */
    border-radius: 5px; /* Optional: Adds rounded corners */
    flex: 1 1 150px; /* Flexible width for skill boxes */
    text-align: center; /* Centers text inside the boxes */
}
