body {
    background-color: #a75b5b;
    color: #333333;
}

p, span, div {
    color: #0d089a;
}

a {
    color: #00530f;
}

h1, h2, h3, h4, h5, h6 {
    color: #2B2D42;
}

nav {
    background-color: #3edede;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #2B2D42;
}

nav a:hover {
    background-color: #371069;
}

