/* Apply the chosen font-family to the entire page */
body {
    font-family: Arial, sans-serif;
}

/* Set a color for all h1 and h2 headings */
h1, h2 {
    color: blue;
}
/* Apply a background color to even rows */
.evenrow {
    background-color: lightgray; /* You can change this to any color */
}
/* Set the font size for h1 */
h1 {
    font-size: 2.5em; /* This makes the h1 heading 2.5 times the default size */
}

/* Set the font size for h2 */
h2 {
    font-size: 2em; /* This makes the h2 heading slightly smaller than h1 */
}
